<?xml version="1.0" encoding="utf-8" ?>
<configuration status="OFF" monitorInterval="5">
    <!-- 配置变量-->
    <Properties>
        <!--格式化输出：%date表示日期、%thread表示线程名、%-5level表示从左显示5个字符宽度、%logger{36}
        表示Logger名字最长为36个字符、%l表示输出语句所在的行数, 包括类名、方法名、文件名、行数
        %msg表示输出的信息、%n表示换行-->
        <property name="LOG_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %l - %msg%n"/>
        <!--定义日志存储的路径-->
        <property name="FILE_PATH" value="/log"/>
        <property name="FILE_NAME" value="springboot-logger"/>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!--控制台只输出level及以上级别的信息（onMatch）,其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，适合临时测试用-->
        <File name="Filelog" fileName="${FILE_PATH}/test.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

        <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="rollingFile" fileName="${FILE_PATH}/info.log" filePattern="
        ${FILE_PATH}/${FILE_NAME}-INFO-%d{yyyy-MM-dd}_%i.log.gz">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!--interval属性用来指定多久滚动一次，默认是1 day-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件开始覆盖-->
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </appenders>
    <loggers>
        <!--Loggers节点用来单独指定日志的形式，比如要为指定包下的class指定不同的日志级别等。-->
        <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
        <logger name="logger.LoggerController" level="error" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="rollingFile"/>
            <appender-ref ref="Filelog"/>
        </root>
    </loggers>
</configuration>